body {
    display: flex;
    /* margin-top: 50px; */
    justify-content: center;
    background-color: #FFFCFF;
    margin: 0;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }

  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }

  #newEventModal {
      display: none;
      z-index: 20;
      padding: 25px;
      background-color: #C4C4C4;
      box-shadow: 0px 0px 3px black;
      border-radius: 5px;
      width: 350px;
      top: 100px;
      left: calc(50% - 175px);
      position: absolute;
      font-family: sans-serif;
  }
  #newEventModal button {
      display: inline-block;
      float: left;
  }

  .inputs {
      box-sizing: border-box;
      display: block;
      margin-bottom: 10%;
      padding: 10px;
      width: 100%;
  }

  #taskDetailModal {
      display: none;
      z-index: 20;
      padding: 25px;
      background-color: #C4C4C4;
      box-shadow: 0px 0px 3px black;
      border-radius: 5px;
      width: 350px;
      top: 100px;
      left: calc(50% - 175px);
      position: absolute;
      font-family: sans-serif;
  }
  #taskDetailModal button {
      display: inline-block;
      float: left;
      border-radius: 10px;
  }

  .task-detail-field {

      color: black;
      display: block;
      width: 90%;
      margin-bottom: 10%;
  }

  #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }



  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
    margin-left: 5%;
    padding-right: 30%;
  }
  #saveButton, #closeButton {
      margin-left: 5%;
      padding-right: 30%;
      background-color: #09CFBB;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
.displayBtn:hover button {
  display: none;

}

/* navigation bar elements */

#nav {
    background-color: #C4C4C4;
    height: 50px;
    width: 100%;
    position: absolute;
}
#nav ul {
    list-style-type: none;
}
.nav-element {
    display: inline-block;
    padding-left: 2%;
}
.nav-li {
    list-style-type: none;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}
.nav-text {
    text-decoration: none;
    color: black;
}
.nav-text:hover {
    color: blue;
}

.displayModalList {
    width: 95%;
    padding: 10px;
    padding-right: 5%;
    font-size: 20px;
    margin-bottom: 10%;
}

#displayModal {
    background-color: #E4E4E4;
    padding: 2%;
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 25%;
}

.task-edit-anchor {
    text-decoration: none;
    color: black;
    margin-right: 7px;
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}

.displayTasksBtn {
    color: black;
    background-color: white;
}
.displayTasksBtn:hover {
    background-color: #92a1d1;
}
