<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
    </head>
    <body>
        <!-- <form class="registration-form" th:object="${user}" th:action="@{/registration}" method="post">
            <input type="text" th:field="*{email}" name="email" value="" placeholder="email">
            <input type="password" th:field="*{password}" name="password" value="" placeholder="password">
            <input type="text" th:field="*{username}" name="username" value="" placeholder="username">
            <input type="text" th:field="*{schoolID}" name="schoolID" value="" placeholder="schoolID">
            <input type="submit" name="submit" value="register">
        </form> -->
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <div class="form-group">
            <label class="control-label" for="name"> Name </label>
            <input id="name" class="form-control" type="text" th:field="*{name}"
                   required autofocus="autofocus" />
        </div>

        <div class="form-group">
            <label class="control-label" for="email"> Email </label>
            <input id="email" class="form-control" type="text" th:field="*{email}" required
                autofocus="autofocus" />
        </div>

        <div class="form-group">
            <label class="control-label" for="password"> Password </label>
            <input id="password" class="form-control" type="password"
                th:field="*{password}" required autofocus="autofocus" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
            <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
        </div>
    </form>
    </body>
</html>
